{% assign langs = page.langs | default: site.data.languages.default %}
{% assign active_lang = langs | first %}
{% assign btnClass = include.btnClass | default: 'solution' %}

<hr class="my-8">
<h2 class="text-white font-semibold text-2xl mb-4">Solution</h2>

<div class="overflow-hidden bg-[#f1f1f1] rounded-[14px] mb-4 code-tab">
    {% for lang in site.data.languages.map %}
    {% if langs contains lang.ext %}
    {% capture active_class %}{% if lang.ext == active_lang %}bg-[#ccc]{% endif %}{% endcapture %}
    <button class="code-tab-link float-left border-none outline-none cursor-pointer py-[14px] px-[16px] transition-all duration-300 hover:bg-[#ddd] {{ active_class }} md:w-1/4 w-1/2" onclick="openCode(event, '{{page.slug}}-{{ btnClass }}-{{ lang.name }}')" type="button">
        <div class="flex items-center gap-2 text-black">
            <img src="{{ site.github.url }}/assets/img/lang/{{ lang.ext }}.svg" class="h-5 w-5">
            <span>
                {% if lang.aka %}
                {{ lang.aka }}
                {% else %}
                {{ lang.name }}
                {% endif %}
            </span>
        </div>
    </button>
    {% endif %}
    {% endfor %}
</div>

<div class="code-content">
    {% for lang in site.data.languages.map %}
    {% if langs contains lang.ext %}
    {% capture the_snippet_content %}{% include code/{{page.title | slugify}}/{{btnClass}}.{{lang.ext}} %}{% endcapture %}
    {% capture lang_file_name %}lang/{{lang.ext}}.html{% endcapture %}
    {% capture active_class %}{% if lang.ext == active_lang %}block{% else %}hidden{% endif %}{% endcapture %}
    <div id="{{page.slug}}-{{ btnClass }}-{{ lang.name }}" class="code-tab-content py-4 animate-fade-in {{ active_class }}">
        {% include {{lang_file_name}} content=the_snippet_content %}
    </div>
    {% endif %}
    {% endfor %}
</div>

{% if page.tc or page.sc %}
<div class="py-[5px] px-[5px]">
  {% if page.tc %}
  <h6 class="text-white text-sm font-semibold">Time Complexity: {{ page.tc }}</h6>
  {% endif %}
  {% if page.sc %}
  <h6 class="text-white text-sm font-semibold">Space Complexity: {{ page.sc }}</h6>
  {% endif %}
</div>
{% endif %}

<style>
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.animate-fade-in {
  animation: fadeEffect 1s;
}
</style>