{% assign langs = page.langs | default: site.enabled_languages | split: " " %}

<hr>
<h2>Solution</h2>

<div class="code-tab">
    {% for lang in site.lang_map %}
    {% if langs contains lang.ext %}
    <button class="code-tablinks" onclick="openCode(event, '{{page.slug}}-{{ include.btnClass }}-{{ lang.name }}')" type="button">
        <img src="{{ site.github.url }}/assets/img/lang/{{ lang.ext }}.svg" height="20" width="20">
        <span>
            {% if lang.aka %}
            {{ lang.aka }}
            {% else %}
            {{ lang.name }}
            {% endif %}
        </span>
    </button>
    {% endif %}
    {% endfor %}
</div>

<div class="code-content">
    {% for lang in site.lang_map %}
    {% if langs contains lang.ext %}
    {% capture the_snippet_content %}{% include code/{{page.slug}}/{{include.btnClass}}.{{lang.ext}} %}{% endcapture %}
    {% capture lang_file_name %}lang/{{lang.ext}}.html{% endcapture %}
    <div id="{{page.slug}}-{{ include.btnClass }}-{{ lang.name }}" class="code-tabcontent">
        {% include {{lang_file_name}} content=the_snippet_content %}
    </div>
    {% endif %}
    {% endfor %}
</div>

{% if page.tc or page.sc %}
<div class="code-complexity">
  {% if page.tc %}
  <h6 class="">Time Complexity: {{ page.tc }}</h6>
  {% endif %}
  {% if page.sc %}
  <h6 class="">Space Complexity: {{ page.sc }}</h6>
  {% endif %}
</div>
{% endif %}