<span style="display: none">Github url is {{ site.github.url }}</span>
<script src="{{ site.github.url }}/assets/js/mermaid.js"></script>
<script src="{{ site.github.url }}/assets/js/code.js"></script>

<script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-auth-compat.js"></script>

<script src="{{ site.github.url }}/assets/js/auth.js"></script>

<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
</footer>