{% assign rows = include.rows | 0 %}
{% assign cols = include.cols | 0 %}
{% assign matrix = include.matrix | [] %}

<table class="post-example-table">

    {% for i in (0..rows) %}
    <tr>
        {% for item in matrix limit: cols offset: continue %}
        <td class="{% if %}">{{item}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr>
        <td>1</td>
        <td>0</td>
        <td class="blue">1</td>
        <td class="blue">1</td>
        <td class="blue">1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td class="blue">1</td>
        <td class="blue">1</td>
        <td class="blue">1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
    </tr>
</table>