/**
 * Posts
 */
@import "highlight-dark";

 .post-header {
    margin-bottom: $spacing-unit;
}
  
.post-title,
.post-content h1 {
    @include relative-font-size(1.725);
    letter-spacing: -1px;
    line-height: 1.15;

    @media screen and (min-width: $on-laptop) {
        @include relative-font-size(2.5);
    }
}

.post-content {
    h1, h2, h3 { margin-top: $spacing-unit }
    h4, h5, h6 { margin-top: $spacing-unit }

    h1 {
        @include relative-font-size(1.725);

        @media screen and (min-width: $on-laptop) {
            @include relative-font-size(2.5);
        }
    }

    h2 {
        @include relative-font-size(1.5);

        @media screen and (min-width: $on-laptop) {
            @include relative-font-size(2);
        }
    }

    h3 {
        @include relative-font-size(1.375);

        @media screen and (min-width: $on-laptop) {
            @include relative-font-size(1.625);
        }
    }

    h4 {
        @include relative-font-size(1.25);
    }

    h5 {
        @include relative-font-size(1.125);
    }
    h6 {
        @include relative-font-size(1.0625);
    }
}


article, .comments, .box {
    padding: $spacing-unit;
    background: $content-color;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    margin: 25px 0;
    @include media-query($on-mobile) {
        padding: 0;
        //background: transparent;
        background: $content-color;
        box-shadow: none;
    }
}
.comments {
    @media screen and (min-width: $on-mobile) {
        padding:15px $spacing-unit;
    }
}

.page-content {
    margin-top: 80px;
}

.pill {
    margin: 5px;
    padding: 10px;
    background: #223237;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    color: white;
}

.pill-small {
    margin: 3px;
    padding: 5px;
    background: #223237;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.post-topics, .post-ext-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-topic {
    color: inherit;
    cursor: pointer;
    transition: .3s background-color;
    &:hover {
        text-decoration: none;
        background-color: $header-color;
    }
}

.post-example-table {
    background-color: white;
    color: black;
    width: auto;
    tr {
        &:nth-child(even) {
            background-color: white;
        }
    }
    td, tr {
        border: 1px solid $table-border-color;
    }
    td {
        &.red {
            background-color: #f14d4d;
        }
        &.green {
            background-color: #5fbd5f;
        }
        &.blue {
            background-color: #4949ef;
        }
        &.gray {
            background-color: #989595;
        }
    }
}

.post-example-bar {
    display: flex;
    align-items: flex-end;
    border: 2px solid blue;
    background-color: white;
    color: black;
    height: 200px;
    max-width: fit-content;
    margin-bottom: 10px;
    .bar {
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        border: 2px solid black;
        //margin: 2px;
        border-bottom: 0;
        &.selected {
            background-color: lightcoral;
        }
    }
}