@import "highlight-dark";

.home-box {
    padding:0;
    overflow:hidden;
    display: block;
    .post-link {
        color: inherit;
        display:flex;
        //padding: $spacing-unit;
        transition: .3s background-color;
        &:not(:last-child) {
            border-bottom:1px solid $header-color;
        }
        &:hover {
            text-decoration: none;
            background-color: $header-color;
        }
        &.active {
            background-color: $header-color;
        }
        h3 {
            margin: $spacing-unit;
            //margin:0;
            width: 75%;
        }
    }
    li {
        border-bottom:1px solid $header-color;
    }
}

.home {
    .home-search {
        display: flex;
        .post-search {
            width: 40vw;
            border-radius: 10px;
            //display: none;
        }
    }

    .home-post-list {
        //display: flex;
        overflow-y: auto;
        height: 82vh;
    }
}

.home-wrapper {
    @media screen and (min-width: $on-laptop) {
        width: 50vw;
    }
    height: 87vh;
    overflow-y: auto;
}

@media screen and (min-width: $on-mobile) {
    #post-data {
        display: block;
    }
    .post-data-only-mobile {
        display: none;
    }
    .home-complexity {
        border-left: 5px solid $brand-color;
        //border-radius: 10px;
        background: inherit;
        padding: 10px 10px;
        //margin: auto;
        width: 25%;
        float: right;
        align-content: center;
        display: block;
        //position: relative;
        span {
            float: left;
            clear: left;
        }
    }
}

@media screen and (max-width: $on-mobile) {
    #post-data {
        display: none;
    }
    .post-data-only-mobile {
        display: none;
        &.active {
            display: block;
            border-bottom: 0.5rem solid $theme-color;
        }
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .home-complexity {
        display: none;
    }
}

