@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}


@plugin "daisyui/theme" {
    name: "mytheme";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.001 106.423);
    --color-base-200: oklch(97% 0.001 106.424);
    --color-base-300: oklch(92% 0.003 48.717);
    --color-base-content: oklch(21% 0.006 56.043);
    --color-primary: oklch(70% 0.022 261.325);
    --color-primary-content: oklch(13% 0.028 261.692);
    --color-secondary: oklch(70% 0.191 22.216);
    --color-secondary-content: oklch(25% 0.092 26.042);
    --color-accent: oklch(82% 0.189 84.429);
    --color-accent-content: oklch(27% 0.077 45.635);
    --color-neutral: oklch(26% 0.007 34.298);
    --color-neutral-content: oklch(98% 0.001 106.423);
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(60% 0.118 184.704);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(59% 0.249 0.584);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 0.5rem;
    --radius-field: 0rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 1;
    --noise: 1;
}
