---
import QuestionCard, { type QuestionCardProps } from "./QuestionCard.astro";

const questions = Astro.props.questions as QuestionCardProps[];
---

<div>
    <ul class="list bg-base-100 rounded-box shadow-md">
        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Questions List</li>
        {questions.map((question) => (
            <QuestionCard {...question} />
        ))}
    </ul>
</div>
