---

export interface QuestionCardProps {
    title: string;
    slug: string;
    topics: Array<string>;
    companies?: Array<string>;
    langs: Array<string>;
    difficulty: string;
}

const {title, companies, difficulty, langs, slug, topics} = Astro.props as QuestionCardProps;
---

<li class="list-row">
    <div>
        <div>{title}</div>
        <div class="text-xs uppercase font-semibold opacity-60">
            {topics.map((topic) => (
                <span class="badge badge-sm badge-outline mr-1">{topic}</span>
            ))}
        </div>
        <div class="text-xs uppercase font-semibold opacity-60">
            {langs.map((lang) => (
                    <span class="badge badge-sm badge-outline mr-1">{lang}</span>
            ))}
        </div>
        {companies.length > 0 &&
            <div class="text-xs uppercase font-semibold opacity-60">
                {companies.map((company) => (
                    <span class="badge badge-sm badge-outline mr-1">{company}</span>
                ))}
            </div>
        }
    </div>
</li>