---

export interface QuestionCardProps {
    title: string;
    slug: string;
    topics: Array<string>;
    companies: Array<string>;
    langs: Array<string>;
    difficulty: string;
}

const {title, companies, difficulty, langs, slug, topics} = Astro.props as QuestionCardProps;
---

<li class="list-row">
    <div>
        <img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/1@94.webp" alt=""/>
    </div>
    <div>
        <div>{title}</div>
        <div class="text-xs uppercase font-semibold opacity-60">
            {topics.map((topic) => (
                <span class="badge badge-sm badge-outline mr-1">{topic}</span>
            ))}
        </div>
        <div class="text-xs uppercase font-semibold opacity-60">
            {langs.map((lang) => (
                    <span class="badge badge-sm badge-outline mr-1">{lang}</span>
            ))}
        </div>
        {companies.length > 0 &&
            <div class="text-xs uppercase font-semibold opacity-60">
                {companies.map((company) => (
                    <span class="badge badge-sm badge-outline mr-1">{company}</span>
                ))}
            </div>
        }
    </div>
    <p class="list-col-wrap text-xs">

    </p>
    <button class="btn btn-square btn-ghost">
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M6 3L20 12 6 21 6 3z"></path></g></svg>
    </button>
    <button class="btn btn-square btn-ghost">
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></g></svg>
    </button>
</li>