---
import topics from '../data/topics.json';

---

<div class="flex flex-col gap-2 mb-4">
    <select class="select select-bordered" x-model="$store.questionApp.filters.topic">
        <option value="">All Topics</option>
        <template x-for="t in [...new Set($store.questionApp.allQuestions.flatMap(q => q.topics))]" :key="t">
            <option x-text="t"></option>
        </template>
    </select>

    <select class="select select-bordered" x-model="$store.questionApp.filters.lang">
        <option value="">All Languages</option>
        <template x-for="l in [...new Set($store.questionApp.allQuestions.flatMap(q => q.langs))]" :key="l">
            <option x-text="l"></option>
        </template>
    </select>

    <input type="text" class="input input-bordered" placeholder="Search..." x-model="$store.questionApp.filters.search" />
</div>

<div class="card bg-base-100 w-96 shadow-sm">
    <div class="card-body">
        <h2 class="card-title">Find Questions!</h2>
        <form method="GET" >
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Topics</legend>
                <label>
                    <select class="select">
                        <option disabled selected>Pick a topic</option>
                        {topics.map((topic) => (
                            <option value={topic}>
                                {topic}
                            </option>
                        ))}
                    </select>
                </label>
            </fieldset>

            <label class="input">
                <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g
                            stroke-linejoin="round"
                            stroke-linecap="round"
                            stroke-width="2.5"
                            fill="none"
                            stroke="currentColor"
                    >
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.3-4.3"></path>
                    </g>
                </svg>
                <input type="search" required placeholder="Search" />
            </label>
        </form>
    </div>
</div>