{% assign bars = include.bars | split: ',' %}

<div class="post-example-bar">
    {% for bar in bars %}
        {% assign primary = bar | split: ':$' %}
    {% endfor %}
    <div class="bar" style="height: 20%;">2</div>
    <div class="bar" style="height: 10%;">1</div>
    <div class="bar selected" style="height: 50%;">5</div>
    <div style="height: 60%">
        <div class="bar" style="height: 16.67%;">1</div>
        <div class="bar selected" style="height: 83.33%;">5</div>
    </div>
    <div class="bar" style="height: 20%;">2</div>
    <div class="bar" style="height: 30%;">3</div>
</div>