---
layout: default
---

<div class="home">
  {% for collection in site.collections %}
  {% assign items = site[collection.label] | sort: 'leetid' %}
  {% if items.size > 0 %}
    <h2 class="post-list-heading"> Difficulty - {{ collection.label }} </h2>
    <div class="box home-box">
      {% for post in items %}
      <a class="post-link" href="{{ post.url | relative_url }}">
        <h3> {{post.leetid}}. {{ post.title | escape }} </h3>
        {% if post.tc or post.sc %}
        <span class="home-complexity">
          {% if post.tc %}
          <span class="">Time: {{ post.tc }}</span>
          {% endif %}
          {% if post.sc %}
          <span class="">Space: {{ post.sc }}</span>
          {% endif %}
        </span>
        {% endif %}
      </a>
      {% endfor %}
    </div>
  {% endif %}
  {% endfor %}

<!--      {% for category in site.categories %}-->
<!--        <h2 class="post-list-heading"> Category - {{ category[0] }} </h2>-->
<!--        <div class="box home-box">-->
<!--        {% for post in category[1] reversed %}-->
<!--          <a class="post-link" href="{{ post.url | relative_url }}">-->
<!--            <h3>{{ post.title | escape }} </h3>-->
<!--            {% if post.tc or post.sc %}-->
<!--            <span class="complexity">-->
<!--              {% if post.tc %}-->
<!--              <span class="">Time: {{ post.tc }}</span>-->
<!--              {% endif %}-->
<!--              {% if post.sc %}-->
<!--              <span class="">Space: {{ post.sc }}</span>-->
<!--              {% endif %}-->
<!--            </span>-->
<!--            {% endif %}-->
<!--          </a>-->
<!--        {% endfor %}-->
<!--        </div>-->
<!--      {% endfor %}-->

    <!-- <div class="box home-box">
      <div class="post-list">
        {%- for post in posts reversed -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            <h3>{{ post.title | escape }}</h3>
          </a>
        {%- endfor -%}
      </div>
    </div> -->

</div>
