---
layout: default
---

<div class="wrapper home-wrapper">
  <div class="home">
    <div class="home-tag-list">
      <select name="tag-dropdown" id="tag-dropdown" class="pill">
        <option value="" disabled selected>-- select a tag --</option>
        {% for tag in site.data.tag %}
        <option value="{{tag}}">{{ tag | replace: "-", " " | capitalize }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="home-post-list">
    {% for collection in site.collections %}
    {% assign items = site[collection.label] | sort: 'leetid' %}
      {% if items.size > 0 %}
      <h2 class="post-list-heading"> Difficulty - {{ collection.label }} </h2>
      <div class="box home-box">
        {% for post in items %}
        {% capture tag-classes %}{% for tag in post.tags %}tag-{{tag}} {% endfor %}{% endcapture %}
        <a class="post-link problem {{tag-classes}}" href="{{ post.url | relative_url }}">
          <h3> {% if post.leetid %}{{post.leetid}}. {% endif %} {{ post.title | escape }} </h3>
          {% if post.tc or post.sc %}
          <span class="home-complexity">
              {% if post.tc %}
              <span class="">Time: {{ post.tc }}</span>
              {% endif %}
              {% if post.sc %}
              <span class="">Space: {{ post.sc }}</span>
              {% endif %}
            </span>
          {% endif %}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>

<div class="wrapper home-wrapper" id="post-data"></div>