---
layout: default
---

<div class="wrapper home-wrapper">
    <div class="home">
        <div class="home-search">
            <select name="topic-dropdown" id="topic-dropdown" class="pill">
                <option value="" disabled selected>-- select a topic --</option>
                {% for topic in site.data.topics %}
                <option value="{{topic}}">{{ topic | replace: "-", " " | capitalize }}</option>
                {% endfor %}
            </select>
            <select name="company-dropdown" id="company-dropdown" class="pill">
                <option value="" disabled selected>-- select a company --</option>
                {% for company in site.data.companies %}
                <option value="{{company.identifier}}">{{ company.name }}</option>
                {% endfor %}
            </select>
            <select name="difficulty-dropdown" id="difficulty-dropdown" class="pill">
                <option value="" disabled selected>-- select difficulty --</option>
                {% for difficulty in site.data.difficulties %}
                <option value="{{difficulty}}">{{ difficulty | replace: "-", " " | capitalize }}</option>
                {% endfor %}
            </select>
            <input class="post-search" id="search-box" type="text" placeholder="Search Question...">
        </div>
        <div class="home-post-list">
            {% for collection in site.collections %}
            {% assign items = site[collection.label] | sort: collection.sort_by %}
            {% if items.size > 0 %}
            <!-- <h2 class="post-list-heading"> Category - {{ collection.title }} </h2> -->
            <ul class="box home-box" id="post-list-{{ collection.label }}">
                {% for post in items %}
                {% capture topic-classes %}{% for topic in post.topics %}topic-{{topic}} {% endfor %}{% endcapture %}
                {% capture company-classes %}{% for company in post.companies %}company-{{company}} {% endfor %}{% endcapture %}
                <li class="{{topic-classes}} {{company-classes}} difficulty-{{post.difficulty}} problem">
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        <h3>
                            {{ post.title | escape }}
                        </h3>
                        {% if post.tc or post.sc %}
                        <span class="home-complexity">
                            {% if post.tc %}
                            <span class="">Time: {{ post.tc }}</span>
                            {% endif %}
                            {% if post.sc %}
                            <span class="">Space: {{ post.sc }}</span>
                            {% endif %}
                        </span>
                        {% endif %}
                    </a>
                    <div class="post-data-only-mobile" id="post-data-mobile-{{ post.title | slugify }}"></div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="wrapper home-wrapper" id="post-data"></div>