---
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        {% assign topics = page.topics | split: " " %}
        <div class="post-topics">
            {% for topic in topics %}
            <a class="pill post-topic" id="post-topic-{{topic}}" onclick="showTopic('{{topic}}')">
                {{ topic | replace: "-", " " | capitalize }}
            </a>
            {% endfor %}
        </div>
        <div class="post-ext-links">
            {% if page.leetid %}
            <a target="_blank" href="https://leetcode.com/problems/{{ page.slug }}/" class="">
                <img src="{{site.github.url}}/assets/img/global/leet.png" alt="Leetcode" width="25" height="25">
            </a>
            {% endif %}
        </div>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
        {% include codetab.html btnClass="solution" %}
    </div>
    <br><br>
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>