---
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        {% assign topics = page.topics %}
        <div class="post-pills-row">
            {% for topic in topics %}
            <a class="pill" id="post-topic-{{topic}}" onclick="showTopic('{{topic}}')">
                {{ topic | replace: "-", " " | capitalize }}
            </a>
            {% endfor %}
        </div>
        {% assign companies = page.companies %}
        <div class="post-pills-row">
            {% for company in companies %}
            <a class="pill" id="post-company-{{company}}" onclick="showCompany('{{company}}')">
                <img src="{{ site.github.url }}/assets/img/company/{{ company }}.svg" alt="{{ company }}"
                     width="25" height="25">
                {{company | replace: "-", " " | capitalize}}
            </a>
            {% endfor %}
        </div>
        <div class="post-pills-row">
            {% if page.leetid %}
            <a target="_blank" href="https://leetcode.com/problems/{{ page.slug }}/" class="pill">
                <img src="{{site.github.url}}/assets/img/platform/leetcode.svg" alt="Leetcode" width="25" height="25">
                Leetcode
            </a>
            {% endif %}
            {% if page.gfg %}
            <a target="_blank" href="https://www.geeksforgeeks.org/dsa/{{ page.gfg }}/" class="pill">
                <img src="{{site.github.url}}/assets/img/platform/gfg.svg" alt="GeeksforGeeks" width="25" height="25">
                GeeksforGeeks
            </a>
            {% endif %}
            {% if page.hackerrank %}
            <a target="_blank" href="https://www.hackerrank.com/challenges/{{ page.hackerrank }}/problem" class="pill">
                <img src="{{site.github.url}}/assets/img/platform/hackerrank.svg" alt="Hackerrank" width="25" height="25">
                Hackerrank
            </a>
            {% endif %}
            {% if page.interviewbit %}
            <a target="_blank" href="https://www.interviewbit.com/problems/{{ page.interviewbit }}/" class="pill">
                <img src="{{site.github.url}}/assets/img/platform/interviewbit.svg" alt="InterviewBit" width="25" height="25">
                InterviewBit
            </a>
            {% endif %}
        </div>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
        {% include codetab.html btnClass="solution" %}
    </div>
    <br><br>
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>