---
import '../styles/global.css';
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const headerPages = [{
    url: '/hello-world',
    title: 'Hello World',
}];
---

<!DOCTYPE html>
<html lang="en" data-theme="retro">
<Head />
<body>
    <Header
        siteTitle="Interview Questions"
        pages={headerPages}
        currentUrl={Astro.url.pathname}
        iconURL="/logo.png"
    />

    <main>
        <slot />
    </main>

    <Footer />
</body>
</html>